body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
 

/* navegador */
nav{
    position: absolute;
    display: flex;
    text-align: center;
    width: 100%;
    align-items: center;
}

nav ul li{
    list-style: none;
}

nav li a{
    font-size: 1.10em;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

nav li a:hover{
    color: #000000;
    text-decoration: underline;
}

.button {
    width: 70%;
    display: flex;
	background-color:#ffffffa2;
	border-radius:28px;
	border:1px solid #ffffff;
	font-size:17px;
    padding:6px 17px;
    color: black;
}

.button:hover {
    background-color:#52c8ff;
    color: rgb(255, 255, 255);
}


/* fim do navegador */


/* começo do banner com a imagem */
.banner{
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 640px;
    flex-direction: column;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #050505;
}

.banner a{
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    color: black;
}

.button2{
    border-radius: 18px;
    border: 1px solid #000000;
    padding: 12px 61px;
}

.button2:hover{
    background-color: #e4e4e4;
}

.text-banner{
    font-size: 2.5em;
    padding-bottom: 150px;
}
/* fim do banner */


/* primeira section */
.one{
    width: 100%;
    height: 790px;
    background-color: rgb(233, 233, 233);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid rgb(189, 189, 189);
}

.title{
    padding-top: 100px;
    width: 70%;
    font-size: 1.45em;
    color: rgb(97, 97, 97);
}

.container{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.content{
    width: 27%;
    height: 85%;
    background-color: #ffffff;
    border: 1px solid rgb(218, 218, 218);
    flex-direction: column;
    align-items: center;
    display: flex;
    color: rgb(49, 49, 49);
    font-size: 1.1em;
}

.content p{
    width: 70%;
    margin: 0 auto;
}

.circle{
    margin-top: 35px;
    width: 140px;
    height: 140px;
    background-color: #3899c5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content img{
    width: 50px;
    height: 50px;
}

/* fim da primeira section */

/* começo da segunda section */

.two{
    width: 100%;
    height: 750px;
    background-color: #f5f5f5;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.c1{
    width: 90%;
    height: 200px;
    text-align: center;
    color: rgb(131, 131, 131);
    font-size: 1.7em;
    align-items: center;
    line-height: 30px;
}

.c2{
    width: 90%;
    height: 200px;
    border-top: 1px solid rgb(201, 201, 201);
    border-bottom: 1px solid rgb(201, 201, 201);
    display: flex;
    text-align: center;
    align-items: center;
}

.c2 img{
    width: 90px;
    height: 80px;
}

.user{
    width: 50%;
    color: rgb(131, 131, 131);
}

.c3{
    width: 70%;
    height: 200px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1em;
    color: rgb(131, 131, 131);
    padding-top: 45px;
}

.c3 button{
    background-color: rgb(60, 176, 221);
    border-radius: 18px;
    border: 1px solid #000000;
    padding: 12px 46px;
    cursor: pointer;
    margin: 50px;
    font-size: 1.4em;
    color: #ffffff;
}

/* fim da segunda section */

/* começo da terceira section */

.three{
    width: 100%;
    height: 600px;
    background-color: rgb(74, 183, 226); 
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}

.form{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
}
input{
    width: 40%;
    height: 40px;
    border-radius: 4px;
    margin: 7px 2px;
    border: none;
    padding: 0 1em;
}

#message{
    width: 40%;
    height: 80px;
    border-radius: 4px;
    margin: 7px 2px;
    border: none;
    padding: 0 1em;
}

.form button{
    background-color: #444751;
    border-radius: 18px;
    border: 1px solid #000000;
    padding: 6px 18%;
    cursor: pointer;
    margin: 50px;
    font-size: 1em;
    color: #ffffff;
}

.form button:hover{
    background-color: #626775;
}

/* fim da terceira section */

/* começo do footer */

footer{
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #383b43;
}

.link{
    width: 90%;
    height: 300px;
    border-bottom: 1px solid #e2e2e2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.licoluna{
    height: 90%;
    width: 24%;
}

.licoluna ul{
    list-style: none;
    line-height: 1.9em;
    padding: 0;
}

.licoluna h3{
    color: white;
    font-size: 1.5em;
}

.licoluna a{
    color: #b1b1b1;
    text-decoration: none;
}

.licoluna a:hover{
    text-decoration: underline;
    
}

.sociais{
    width: 90%;
    height: 150px;
    display: flex;  
    align-items: center;
}

.sociaisrow1{
    color: rgb(201, 201, 201);
    width: 50%
}

.sociaisrow2{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

@media only screen and (max-width: 525px){
    nav{
        width: 100%;
        background-color: #ffffffa2;
        position: fixed;

    }
    .button{
        display: none;
    }
    
    nav li a{
        color: black;
        font-size: 0.8em;
    }
    
    .text-banner p{
        font-size: 0.6em;
    }
    .text-banner h1{
        font-size: 1em;        
    }

    .two{
        display: none;
    }
    .container{
        display: none;
    }
}